{% extends "mimic/base.html" %}

{% block content %}

<div class='row'>
    <div class='col-lg'>
        <h1>About MimicDB</h1>
    </div>
</div>

<div class='row'>
    <div class='col-lg'>
        <p>
            Integrins are heterodimeric receptors crucial for the
            differentiation, migration, adhesion and survival of metazoan
            cells. They mediate cell attachment via interactions with adhesion
            molecules and are also targeted by viper venom disintegrins and
            several viruses as entry points. The importance of integrin
            signaling is evident from integrin-linked diseases, ranging from
            developmental defects through Crohn's disease to tumor formation.
        </p>
        <p>
            Despite their importance, for most of the 24 human integrins
            nothing is known about the molecular details of their interactions.
            This hampers their effective biomedical modulation and the
            successful targeting of integrin-related diseases. The moderate
            success of current targeting efforts have demonstrated the need for
            detailed structural understanding of various binding events. Thus,
            the delineation of the structural principles of known integrin
            interactions and the identification of unknown integrin binding
            modes in molecular detail is essential to understand the complex
            integrin signaling pathway.
        </p>
        <p>
            MimicDB serves as a platform to enable such large-scale systematic
            research efforts by integrating available data on the sequences,
            subunits, structures, and expression patterns of all 24 human
            integrins, together with information about known extracellular
            integrin-binding ligands, and developed drugs that modulate these
            binding events.
        </p>
    </div>
</div>

{% endblock content %}
