{% extends "mimic/base.html" %}
{% load django_tables2 %}

{% block content %}

<div class='row'>
    <div class='col-lg'>
        <h1>Drugs</h1>
    </div>
</div>
<div class='row'>
    <div class='col-lg'>
        <p>
            The table lists all integrin-targeting drugs that are, or have been
            in clinical use.
        </p>
        <p>
            The table is sortable by clicking on column headers.
        </p>
        {% render_table table %}
    </div>
</div>

{% endblock content %}
