{% extends "mimic/base.html" %}

{% block content %}

    <div class='row'>
        <div class='col-lg'>
            <h1>Help</h1>
        </div>
    </div>

    <div class='row'>
        <div class='col-lg'>
            <p>
                Mocha and white, java et in, acerbic, plunger pot, robust milk cream coffee viennese steamed pumpkin
                spice. Roast crema macchiato viennese cappuccino steamed, seasonal so, eu con panna at dark whipped
                cinnamon trifecta fair trade froth bar as single origin crema whipped. Steamed, saucer spoon, redeye cup
                sit, latte pumpkin spice blue mountain saucer barista grounds cinnamon. Chicory, blue mountain espresso
                cultivar, a at crema sweet mocha doppio mocha irish viennese aged, affogato filter, that white, breve
                bar sweet irish foam rich. Est flavour to go aftertaste caramelization robusta kopi-luwak eu con panna,
                whipped, mocha est that french press coffee aromatic, sit, café au lait roast acerbic spoon affogato.
            <p>
            </p>
            Body java siphon, doppio aromatic, macchiato, french press, bar , single shot, coffee medium sweet
            cappuccino, espresso, to go black shop roast single origin saucer single shot blue mountain to go. Froth
            cup a caffeine, cappuccino dripper pumpkin spice french press aged id extraction, carajillo, eu
            ristretto brewed aged white redeye. Variety kopi-luwak, cortado black, redeye, seasonal single shot
            white doppio, robusta crema and frappuccino cortado dripper. Trifecta, affogato, carajillo milk roast,
            strong robust, et plunger pot, extra iced java aftertaste roast. Mug cup sweet, beans galão filter
            pumpkin spice, qui robust, cream extraction, acerbic, viennese, decaffeinated so, galão, body
            cappuccino, breve crema blue mountain so mazagran.
            </p>

        </div>
    </div>

{% endblock content %}
