{% extends "mimic/base.html" %}

{% block content %}

    <div class='row'>
        <div class='col-lg'>
            <h1>Help</h1>
        </div>
    </div>

    <div class='row'>
        <div class='col-lg'>
            <p>MimicDB provides a plethora of information the structures, functions and interactions of the 24
                known human dimeric integrins.</p>

            <p>Under the <i>Integrins</i> page of MimicDB, a summary table provides information on dimeric integrins,
                including the monomers they incorporate, their function-based classification and tissue- or cell type-
                specific expression. The names of both, monomeric and dimeric integrins in this table are links that
                lead to the respective entry pages. The entry pages provide comprehensive information on the given
                integrin dimer or monomer, including basic features as well as structural and functional information.
                The structure figures on the entry pages of dimeric integrins summerize available structral
                information on the integrin dimers: they show in color the domains and regions of the α (blue) and β
                (red) subunits that have structural information in the PDB. Hovering over domains or regions displays
                the corresponding PDB IDs. On the bottom of these pages the domain architectures of both
                incorporated monomers are explained.</p>
            <p>The <i>Structure</i> page provides a comprehensive summary table on the integrin structures available in
                the PDB database. For each structure, there is information on the experimental technique of
                structure determination, the resolution, the α and/or β subunits incorporated in the structure, any
                protein partners present and if there are any peptides/antibodies or drugs present in the structure.
                The PDB IDs in the 1st column of the table act as links that bring to the summary pages of the
                structures. The names of incorporated monomeric integrins also act as links to the respective entry
                pages. The UniProt AC-s of interacting protein partners also act as links to the respective entry pages
                (introduced below).</p>
            <p>The <i>Interactions/Browser</i> page of MimicDB lists all the annotated integrin interactors (these can be
                proteins or synthetic peptides). Each line corresponds to an interactor and can be regarded as a
                summary of all the interactions of that protein/peptide with any integrins. The first three columns
                provide basic information on the protein/peptide (UniProt AC, name and source organism), then in
                the 4th column the type of interaction is defined, meaning if it is a direct interaction or just physical
                association. The 5th column lists the experimental techniques used to detect interactions of that
                protein/peptide to any of its integrin partners listed in the 6th column. The 7th, 8th, 9th and 10th
                columns are decisive features, e.g. the seventh column indicates if there is any interaction strength
                data available for that protein/peptide with any of the listed integrin dimers (tick) or not (X). Clicking
                onto a row in this table leads to the entry page of the respective interaction partner.</p>
            <p>In the top left corner of the entry pages of integrin interactors, there is a functional description for
                the given protein from UniProt. In the top right corner there is a sequence viewer which shows the
                sequence of the given protein with the experimentally identified and annotated integrin-binding
                region(s) highlighted. Below these, information on the individual binary interactions between the
                given protein/peptide and its integrin partners are provided, in a way that each line corresponds to a
                specific partner-integrin interaction annotated from a specific publication (whose PubMed page is
                linked to the green PubMed bubble in the third column). So, if multiple publications provide
                information on the interaction of the same partner-integrin pair, those will be listed in different lines.</p>
            <p>Also, if the same publication provides information on the interaction of the given protein/peptide
                with several integrins, those will also be listed as different lines here. In case of validated
                interactions, the integrin’s name in the first column is shown in green followed by a „(+)” sign to
                indicate that it is a positive (approved) interaction. Importantly, MimicDB also collects negative
                results! In the lines representing experimentally tested but disproved integrin-partner interactions,
                the integrin’s name in the first column is shown in red and there is a „(-)” sign following the name to
                warn that it is a negative (disproved) interaction. The remaining columns of these entry tables
                provide important information on the given interaction, including the interaction detection
                method(s) applied together with the corresponding Evidence and Conclusion Ontology (ECO)
                identifiers acting as links, the binding strength (if available), competitors used in the binding
                experiments (if applicable), construct and binding region boundaries (if available) and link to the
                respective motif class described in the ELM database (in the case of motif-mediated interactions).
                There is also an additional column displaying important notes of the database curators on the given
                interaction.</p>
            <p>The <i>Search</i> page of the database helps users to find any specific information in MimicDB.</p>
            <p>At the <i>Download</i> page, the content of the database (all the information on the annotated
                interactions) can be downloaded in the form of a TSV file.</p>

        </div>
    </div>

{% endblock content %}
